In [31]:
# Importing the required modules and packages
import numpy as np
import boto3
from config import aws_access_key_id, aws_secret_access_key, bucket_name
import requests
from config import password
import os
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy import inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.exc import IntegrityError

In [32]:
# Importing the required modules and packages
import boto3
from config import aws_access_key_id, aws_secret_access_key, bucket_name
import pandas as pd
import os

# Setting up the S3 bucket and creating a connection to it using the credentials
bucket_name = bucket_name
aws_access_key_id = aws_access_key_id
aws_secret_access_key = aws_secret_access_key
s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key)

# Looping through each file in the bucket and reading them into DataFrames
dataframe_dict = {}
for obj in s3.list_objects(Bucket=bucket_name)['Contents']:
    file_name = obj['Key']
    s3_object = s3.get_object(Bucket=bucket_name, Key=file_name)
    file_extension = os.path.splitext(file_name)[1]
    if file_extension == '.xlsx':
        data_dict = pd.read_excel(s3_object['Body'], sheet_name=None)
        data_list = []
        for key in data_dict:
            data_list.append(data_dict[key])
        data = pd.concat(data_list, ignore_index=True)
        dataframe_dict[file_name] = data
    elif file_extension == '.csv':
        data = pd.read_csv(s3_object['Body'])
        dataframe_dict[file_name] = data
    else:
        raise ValueError(f"Unsupported file type: {file_extension}")
dataframe_dict

{'cardio_cancer_resp.csv':        FIPS                  County  cardio_death  total_cancer  bladder  \
 0         0                      US         216.3         449.4     19.4
 1      2013  Aleutians East, Alaska          95.1         142.2      0.0
 2      2016  Aleutians West, Alaska          89.8         378.4      0.0
 3      2020       Anchorage, Alaska         177.0         440.1     17.9
 4      2050          Bethel, Alaska         263.4         397.4      0.0
 ...     ...                     ...           ...           ...      ...
 3130  55113       Sawyer, Wisconsin         227.8         495.6     28.5
 3131  55115      Shawano, Wisconsin         218.7         446.9     19.7
 3132  55119       Taylor, Wisconsin         206.7         412.9     14.0
 3133  55125        Vilas, Wisconsin         227.9         504.3     31.4
 3134  55129     Washburn, Wisconsin         204.0         457.9     19.9

       brain  breast  breast_insitu  cervix  colon  ...  prostate_range  \
 0       6.4   128.1           29.4     7.7   33.0  ...             0.5
 1       0.0     0.0            0.0     0.0    0.0  ...             0.0
 2       0.0     0.0            0.0     0.0    0.0  ...             0.0
 3       7.1   134.8           26.3     8.1   35.5  ...            17.6
 4       0.0    51.0            0.0     0.0   79.0  ...           110.4
 ...     ...     ...            ...     ...    ...  ...             ...
 3130    0.0   140.8           24.8     0.0   38.8  ...            50.3
 3131    0.0   136.2           36.6     0.0   29.2  ...            32.3
 3132    0.0   112.3           26.2     0.0   29.5  ...            54.8
 3133    0.0   137.6           34.4     0.0   35.3  ...            47.9
 3134    0.0   145.8            0.0     0.0   37.0  ...            52.5

       stomach_range  thyroid_range  uteras_range  Total Population  \
 0               0.1            0.1           0.3               NaN
 1               0.0            0.0           0.0            3401.0
 2               0.0            0.0           0.0            5680.0
 3               4.9            4.0           8.4               NaN
 4               0.0            0.0           0.0           18437.0
 ...             ...            ...           ...               ...
 3130            0.0            0.0          29.1           16700.0
 3131           14.2            0.0          18.9           40786.0
 3132            0.0            0.0          26.4           20318.0
 3133            0.0            0.0          25.2           22356.0
 3134            0.0            0.0           0.0           15712.0

       Pediatric Asthma  Adult Asthma    COPD  Adult Chronic Lung Disease  \
 0                  NaN           NaN     NaN                         NaN
 1                 18.0         276.0   141.0                       382.0
 2                 51.0         434.0   209.0                       616.0
 3                  NaN           NaN     NaN                         NaN
 4                487.0        1063.0   497.0                      1865.0
 ...                ...           ...     ...                         ...
 3130             190.0        1343.0   866.0                      2114.0
 3131             518.0        3248.0  1904.0                      5028.0
 3132             278.0        1595.0   914.0                      2475.0
 3133             222.0        1829.0  1258.0                      2901.0
 3134             172.0        1273.0   833.0                      2004.0

       Lung Cancer
 0             NaN
 1             2.0
 2             3.0
 3             NaN
 4             9.0
 ...           ...
 3130         10.0
 3131         23.0
 3132         12.0
 3133         13.0
 3134          9.0

 [3135 rows x 51 columns],
 'cleaned_fossil_fuel_plants.csv':                             plant_name   FIPS    plant_county   plant_state  \
 0                           Sand Point   2013  Aleutians East        Alaska
 1                                Barry   1097          Mobile       Alabama
 2                              Gadsden   1055          Etowah       Alabama
 3                               Gorgas   1127          Walker       Alabama
 4                       Copper Station  48141         El Paso         Texas
 ...                                ...    ...             ...           ...
 3472    POET Biorefining - Marion, LLC  39101          Marion          Ohio
 3473        POET Biorefining Caro, LLC  26157         Tuscola      Michigan
 3474  POET Biorefining-Hanlontown, LLC  19195           Worth          Iowa
 3475         POET Biorefining - Hudson  46083         Lincoln  South Dakota
 3476          Hartwell Energy Facility  13147            Hart       Georgia

        latitude   longitude fuel_type  nameplate_capacity_MW  \
 0     55.339722 -160.497222       Oil                    4.0
 1     31.006900  -88.010300       Gas                 2841.5
 2     34.012800  -85.970800       Gas                  138.0
 3     33.644344  -87.196486      Coal                 1416.7
 4     31.756900 -106.375000       Gas                   86.9
 ...         ...         ...       ...                    ...
 3472  40.622000  -83.157000       Gas                    7.8
 3473  43.472885  -83.411763       Gas                    3.8
 3474  43.292360  -93.392798       Gas                    4.0
 3475  43.096898  -96.476983       Gas                    3.6
 3476  34.339588  -82.819871       Gas                  360.0

       net_generation_MWh  NOx_tons  SO2_tons     CO2_tons      CH4_lbs  \
 0                3780.00    46.290     4.195     2362.834      191.366
 1            12470807.00  2361.074  3494.672  8290059.787  1136505.719
 2              169977.00   136.388     2.957   131425.540     3801.827
 3              490760.00   490.525   142.687   598479.725   117468.333
 4               39534.00    85.830     0.200    41036.777     1517.994
 ...                  ...       ...       ...          ...          ...
 3472            30509.00    15.580     0.305    11141.089      420.260
 3473            17681.16    10.045     0.196     7183.124      270.959
 3474            16792.00     8.462     0.165     6051.180      228.260
 3475            12421.00     6.219     0.122     4447.372      167.762
 3476           357120.00   160.575     1.459   288768.906    10768.239

          N2O_lbs  PM2.5_tons
 0         38.273    4.476344
 1     159420.742  643.155672
 2        380.183    6.707270
 3      17090.854   89.247027
 4        151.799    2.317093
 ...          ...         ...
 3472      42.026    0.767503
 3473      27.096    0.000000
 3474      22.826    0.000000
 3475      16.776    0.000000
 3476    1076.824   18.986831

 [3477 rows x 15 columns],
 'closest_plant_in_each_county.csv':        latitude   longitude  GEOID             County State_Abbrev  \
 0     32.534920  -86.642749   1001     Autauga County           AL
 1     30.660970  -87.749840   1003     Baldwin County           AL
 2     31.869603  -85.393197   1005     Barbour County           AL
 3     32.998644  -87.126439   1007        Bibb County           AL
 4     33.980867  -86.567371   1009      Blount County           AL
 ...         ...         ...    ...                ...          ...
 3137  41.659496 -108.879431  56037  Sweetwater County           WY
 3138  43.934637 -110.589810  56039       Teton County           WY
 3139  41.287492 -110.547562  56041       Uinta County           WY
 3140  43.904997 -107.682861  56043    Washakie County           WY
 3141  43.840485 -104.567830  56045      Weston County           WY

               Geo_ID                          closest_plant  distance  \
 0     0500000US01001         Joseph M. Farley Nuclear Plant     128.0
 1     0500000US01003         Joseph M. Farley Nuclear Plant     161.0
 2     0500000US01005         Joseph M. Farley Nuclear Plant      48.0
 3     0500000US01007             Browns Ferry Nuclear Plant     118.0
 4     0500000US01009             Browns Ferry Nuclear Plant      59.0
 ...              ...                                    ...       ...
 3137  0500000US56037  Palo Verde Nuclear Generating Station     612.0
 3138  0500000US56039            Columbia Generating Station     460.0
 3139  0500000US56041  Palo Verde Nuclear Generating Station     560.0
 3140  0500000US56043            Columbia Generating Station     594.0
 3141  0500000US56045                 Cooper Nuclear Station     516.0

       plant_capacity
 0             1776.4
 1             1776.4
 2             1776.4
 3             3567.5
 4             3567.5
 ...              ...
 3137          4209.6
 3138          1200.0
 3139          4209.6
 3140          1200.0
 3141           801.0

 [3142 rows x 9 columns],
 'features.csv':        FIPS  air_quality_annual_PM2p5  median_household_income  \
 0      2013                       NaN                  79000.0
 1      2016                       NaN                  92000.0
 2      2020                       6.4                  85000.0
 3      2050                       NaN                  52000.0
 4      2060                       NaN                  87000.0
 ...     ...                       ...                      ...
 3218  72151                       NaN                      NaN
 3219  72153                       NaN                      NaN
 3220  78010                       NaN                      NaN
 3221  78020                       NaN                      NaN
 3222  78030                       NaN                      NaN

       percent_diagnosed_diabetes  percent_EDU_less_col  percent_EDU_less_HS  \
 0                            9.9                  83.4                 13.4
 1                            9.3                  83.0                  8.2
 2                            8.3                  63.4                  6.0
 3                            8.8                  88.7                 16.5
 4                            9.2                  74.2                  6.2
 ...                          ...                   ...                  ...
 3218                         NaN                  82.4                 28.1
 3219                         NaN                  75.6                 24.2
 3220                         NaN                   NaN                  NaN
 3221                         NaN                   NaN                  NaN
 3222                         NaN                   NaN                  NaN

       percent_food_stamp  percent_high_BP  percent_high_chol  percent_obisity  \
 0                    2.6             34.1               31.2             27.2
 1                    1.4             30.3               30.3             25.4
 2                    9.7             28.8               29.4             29.8
 3                   37.7             36.2               28.7             23.8
 4                    6.5             33.6               32.3             24.6
 ...                  ...              ...                ...              ...
 3218                 NaN              NaN                NaN              NaN
 3219                 NaN              NaN                NaN              NaN
 3220                 NaN              NaN                NaN              NaN
 3221                 NaN              NaN                NaN              NaN
 3222                 NaN              NaN                NaN              NaN

       percent_phys_inactivity  percent_poverty  percent_somker_status  \
 0                        21.5             15.1                   18.5
 1                        20.0              8.1                   16.7
 2                        17.9              8.3                   15.7
 3                        22.0             25.3                   34.0
 4                        20.9             10.7                   17.8
 ...                       ...              ...                    ...
 3218                      NaN              NaN                    NaN
 3219                      NaN              NaN                    NaN
 3220                      NaN              NaN                    NaN
 3221                      NaN              NaN                    NaN
 3222                      NaN              NaN                    NaN

       unemployment_rate
 0                   2.3
 1                   3.6
 2                   5.8
 3                  13.1
 4                   5.6
 ...                 ...
 3218               10.3
 3219               11.7
 3220                NaN
 3221                NaN
 3222                NaN

 [3223 rows x 14 columns],
 'global_health_data.csv':      Unnamed: 0 country_code      country           co        no        no2  \
 0             0           AF  Afghanistan  1350.724521  0.683179  12.363946
 1             1           AL      Albania   257.109347  0.362959   6.039690
 2             2           DZ      Algeria   241.442119  3.336000  13.501865
 3             3           AO       Angola   471.672875  0.718363   5.120278
 4             4           AR    Argentina   423.765962  8.538443  11.451818
 ..          ...          ...          ...          ...       ...        ...
 154         154           UZ   Uzbekistan   273.726837  4.314358  12.812164
 155         155           VU      Vanuatu   199.313946  0.010838   0.226337
 156         156           VN      Vietnam   869.873588  6.159495  18.272751
 157         157           ZM       Zambia   526.302397  0.261384   1.657479
 158         158           ZW     Zimbabwe   317.144957  0.565041   2.198224

             o3        so2      pm2_5       pm10  gdp_per_capita   Mean BMI  \
 0    79.251521   0.759946  17.227616  42.560698            2057  21.255135
 1    71.634025   1.989154  10.260962  14.133179           12783  25.164619
 2    69.168845   2.798434  12.425665  37.320633           11683  23.912552
 3    29.608070   3.372409  18.544950  29.713428            7304  21.195410
 4    29.216860   5.575630   7.109720   9.720282           23107  25.974045
 ..         ...        ...        ...        ...             ...        ...
 154  60.219622   1.456380   8.780014  19.103754            6867  24.569494
 155  21.590267   0.407213   2.023984   4.395204            3040  24.908416
 156  40.186948  15.109423  43.126799  52.487995            7198  19.753949
 157  18.503096   5.618650   7.969808  11.588515            3478  21.281939
 158  23.643942   2.433017  23.106326  25.703272            3747  23.079916

      che_per_capita_usd  both_sex_life_exp  fem_life_exp  male_life_exp  \
 0                  6680             62.430        62.755         62.165
 1                  1867             77.920        79.800         76.175
 2                  2646             76.835        77.810         75.940
 3                  3878             62.390        65.010         59.915
 4                  2981             76.375        79.400         73.215
 ..                  ...                ...           ...            ...
 154                6001             72.230        74.565         69.870
 155                3745             64.975        68.000         62.340
 156                1190             73.450        77.860         69.220
 157                5094             61.475        64.195         58.735
 158                3593             59.580        62.285         56.620

      poverty_rate
 0            54.5
 1            14.3
 2             5.5
 3            32.3
 4            35.5
 ..            ...
 154          14.1
 155          12.7
 156           6.7
 157          54.4
 158          38.3

 [159 rows x 17 columns],
 'sample_global_data.csv':     Unnamed: 0 country_code            co          o3        pm10       pm25  \
 0            4           AT    231.136389   85.307888   15.820251   8.945114
 1            5           AU    279.906930    0.013374  551.733617   5.264174
 2            6           BA    676.454545   25.561765   62.520000  18.623077
 3            8           BE    209.925164   49.806264   19.664099  11.458534
 4            9           BG    442.816797   50.437593   19.693200   8.370665
 5           11           BR      0.492593   35.089602   28.439280  14.346302
 6           12           CA      0.150316    0.032460    8.162159   4.557732
 7           13           CH    216.375117   49.882223   13.312315   9.526095
 8           15           CL  11399.933462   39.546012   62.080465  41.929945
 9           16           CN    648.715743  129.822643   41.437804  25.989270
 10          17           CO      0.823369    0.010918   47.688076  17.690127
 11          22           DE    219.776349   50.200174   14.970589   9.756537
 12          23           DK    163.030917   73.912931   19.177220   8.012322
 13          26           EE    187.882571   46.280833   12.691665   7.312107
 14          27           ES    296.910546   59.576295   19.295985   9.068833
 15          30           FR    210.052838   68.027698   17.778590   9.060785
 16          35           GR    523.813632   69.456049   31.280904  13.399642
 17          38           HR    185.825545   75.262597   18.844932  11.245843
 18          39           HU    526.052072   59.926549   18.474189  12.614601
 19          41           IE    172.327241   64.484257   12.614294   7.568329
 20          43           IN    809.801510   37.383295  150.122592  65.861893
 21          46           IT    416.019055   75.703200   19.502632  17.301124
 22          54           LT    226.311747   58.920299   19.889525   8.705530
 23          55           LU    226.243478   73.621859   24.767024  10.578491
 24          56           LV      0.210000   73.282754   16.064797   6.108611
 25          61           MN    151.500000   28.250000  181.977778  22.049519
 26          62           MT    294.511098   87.914198   25.006371  12.493056
 27          63           MX      4.064916    0.042770   55.973518  23.673476
 28          65           NL      0.245712   63.274341   19.919958  10.700020
 29          66           NO    153.806343   68.618603   14.991139   5.117164
 30          68           PE   1175.296699    1.831829   75.410606  39.877260
 31          71           PL    376.543052   68.231120   23.861778  12.732698
 32          72           PT    219.022576   75.907311   18.284255   6.011617
 33          74           RS    298.977570   79.527378   20.473075  12.074814
 34          79           SE    352.366793   68.482907   16.042180   5.027306
 35          84           TH      0.652720    0.023428   37.043073  18.503240
 36          94           ZA      0.747326    0.020324   40.275325  22.661500

            so2                 country  gdp_per_capita  che_per_capita_usd  \
 0     2.128832                 Austria         54297.0              4972.0
 1     0.001369               Australia         48484.0              5602.0
 2    32.565714  Bosnia and Herzegovina         13772.0              3863.0
 3     1.776664                 Belgium         50560.0              4770.0
 4    12.093272                Bulgaria         21534.0              6192.0
 5     3.730719                  Brazil         14694.0              8458.0
 6     0.000375                  Canada         48286.0              4877.0
 7     0.701056             Switzerland         69467.0              9593.0
 8    19.351559                   Chile         24688.0              1301.0
 9     7.429057                   China         14273.0              4555.0
 10    0.002630                Colombia         14272.0              4901.0
 11    2.623714                 Germany         52705.0              5083.0
 12    0.503452                 Denmark         55155.0              5856.0
 13    0.408595                 Estonia         33674.0              1376.0
 14    3.522392                   Spain         39289.0              2541.0
 15    3.241325                  France         44586.0              4410.0
 16    6.215400                  Greece         28789.0              1535.0

In [33]:
# Creating a connection to the PostgreSQL database using the password and the database name

engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/swatdatabase')

In [34]:
# Loop through each file in dataframe_dict
for file_name, df in dataframe_dict.items():
    # Check if 'df' is empty
    if df.empty:
        continue

    # CLEANING PART 1
    # Clean each df before adding them to the new_df
    # Specific case because of repetitive numbers. Check if both 'geo' and 'id' are in column names
    geo_id_cols = [col for col in df.columns if 'geo' in col.lower() and 'id' in col.lower()]

    # Loop through each geo_id column and determine which has a first value with a shorter length
    drop_col = None
    for col in geo_id_cols:
        first_val = str(df[col][0])
        if drop_col is None or len(first_val) > len(str(df[drop_col][0])):
            drop_col = col

    # Drop the column associated with the longer first value
    if drop_col is not None:
        df.drop(columns=[drop_col], inplace=True)

    # CLEANING PART 2
    df.columns = df.columns.to_series().apply(lambda x: x.strip().lower())
    df.columns = df.columns.str.replace('ovay', 'ovary', regex=True)
    df.columns = df.columns.str.replace("(?i)fips|geo[_ ]?id", "fips", regex=True)
    df.columns = df.columns.str.replace("[-\s\:]+", "_", regex=True)
    df.columns = df.columns.str.replace("\.", "_", regex=True)


    # CREATE DATABASE TABLE
    # Determine the data type of each column
    dtype_dict = {}
    for col in df.columns:
        if df[col].dtype == "int":
            dtype_dict[col] = "INTEGER"
        elif df[col].dtype == "float":
            dtype_dict[col] = "FLOAT"
        else:
            dtype_dict[col] = "TEXT"

    # Create SQL query to create the database table
    query = f"CREATE TABLE IF NOT EXISTS {file_name.split('.')[0]} ("
    for col in df.columns:
        query += f"{col} {dtype_dict[col]}, "
    query = query[:-2] + ");"

    # Execute SQL query to create the database table
    with engine.connect() as conn:
        conn.execute(query)

    # INSERT DATA INTO DATABASE TABLE
    try:
        df.to_sql(file_name.split('.')[0], engine, if_exists="append", index=False)
    except IntegrityError as e:
        print(f"Error inserting data into table {file_name.split('.')[0]}: {e}")
        continue

In [35]:
# Create an empty dataframe to store the joined data
joined_df = None

# Loop through each dataframe in the dictionary
for key, df in dataframe_dict.items():

    # Check if the dataframe has a 'fips' column
    if 'fips' not in df.columns:
        continue

    # Select columns that contain 'fips' in their name
    fips_cols = [col for col in df.columns if 'fips' in col.lower()]

    # If there are at least two 'fips' columns, join them into a single column
    if len(fips_cols) >= 2:
        # Create a new dataframe with only the 'fips' columns
        fips_df = df[fips_cols]

        # Join the 'fips' columns into a single column
        joined_fips = fips_df.apply(lambda x: ''.join(x.astype(str)), axis=1)

        # Rename the joined column to 'fips'
        df.rename(columns={joined_fips.name: 'fips'}, inplace=True)

    # Append the cleaned dataframe to the joined dataframe
    if joined_df is None:
        joined_df = df
    else:
        joined_df = joined_df.merge(df, on='fips', how='outer')

# Print the joined dataframe
joined_df
# CREATE A TABLE FROM THE JOINED DATAFRAME
table_name = 'us_df'
if inspect(engine).has_table(table_name):
    print(f"Table {table_name} already exists, skipping table creation")
else:
    # Determine the data type of each column
    dtype_dict = {}
    for col in joined_df.columns:
        if joined_df[col].dtype == "int64":
            dtype_dict[col] = "INTEGER"
        elif joined_df[col].dtype == "float64":
            dtype_dict[col] = "FLOAT"
        else:
            dtype_dict[col] = "TEXT"

    # Create SQL query to create the database table
    query = f"CREATE TABLE {table_name} ("
    for col in joined_df.columns:
        query += f"{col} {dtype_dict[col]}, "
    query = query[:-2] + ");"

    # Execute SQL query to create the database table
    with engine.connect() as conn:
        conn.execute(query)

# INSERT DATA INTO DATABASE TABLE
try:
    joined_df.to_sql(table_name, engine, if_exists="append", index=False)
except IntegrityError as e:
    print(f"Error inserting data into table {table_name}: {e}")

In [36]:
# Create an empty dataframe to store the joined data
joined_df = None

# Loop through each dataframe in the dictionary
for key, df in dataframe_dict.items():

    # Check if the dataframe has a 'fips' column and a 'rate' column
    if 'fips' not in df.columns or 'rate' not in df.columns:
        continue

    # Drop rows where the rate column is zero or null
    df = df[(df['rate'].notnull()) & (df['rate'] != 0)]

    # Select columns that contain 'fips' in their name
    fips_cols = [col for col in df.columns if 'fips' in col.lower()]

    # If there are at least two 'fips' columns, join them into a single column
    if len(fips_cols) >= 2:
        # Create a new dataframe with only the 'fips' columns
        fips_df = df[fips_cols]

        # Join the 'fips' columns into a single column
        joined_fips = fips_df.apply(lambda x: ''.join(x.astype(str)), axis=1)

        # Rename the joined column to 'fips'
        df.rename(columns={joined_fips.name: 'fips'}, inplace=True)

    # Append the cleaned dataframe to the joined dataframe
    if joined_df is None:
        joined_df = df
    else:
        joined_df = joined_df.merge(df, on='fips', how='outer')

# Print the joined dataframe
joined_df

# CREATE A TABLE FROM THE JOINED DATAFRAME
table_name = 'us_no_null_rate_df'
if inspect(engine).has_table(table_name):
    print(f"Table {table_name} already exists, skipping table creation")
else:
    # Determine the data type of each column
    dtype_dict = {}
    for col in joined_df.columns:
        if joined_df[col].dtype == "int64":
            dtype_dict[col] = "INTEGER"
        elif joined_df[col].dtype == "float64":
            dtype_dict[col] = "FLOAT"
        else:
            dtype_dict[col] = "TEXT"

    # Create SQL query to create the database table
    query = f"CREATE TABLE {table_name} ("
    for col in joined_df.columns:
        query += f"{col} {dtype_dict[col]}, "
    query = query[:-2] + ");"

    # Execute SQL query to create the database table
    with engine.connect() as conn:
        conn.execute(query)

# INSERT DATA INTO DATABASE TABLE
try:
    joined_df.to_sql(table_name, engine, if_exists="append", index=False)
except IntegrityError as e:
    print(f"Error inserting data into table {table_name}: {e}")

AttributeError: 'NoneType' object has no attribute 'columns'

In [ ]:
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.exc import IntegrityError
from sqlalchemy import inspect
import pandas as pd

# Create an empty dataframe to store the joined data
joined_df = None

# Loop through each dataframe in the dictionary
for key, df in dataframe_dict.items():

    # Check if the dataframe has a 'fips' column
    if 'fips' not in df.columns:
        continue

    # Select columns that contain 'fips' in their name
    fips_cols = [col for col in df.columns if 'fips' in col.lower()]

    # If there are at least two 'fips' columns, join them into a single column
    if len(fips_cols) >= 2:
        # Create a new dataframe with only the 'fips' columns
        fips_df = df[fips_cols]

        # Join the 'fips' columns into a single column
        joined_fips = fips_df.apply(lambda x: ''.join(x.astype(str)), axis=1)

        # Rename the joined column to 'fips'
        df.rename(columns={joined_fips.name: 'fips'}, inplace=True)

    # Drop the 'latitude' and 'longitude' columns if they exist
    if 'latitude' in df.columns and 'longitude' in df.columns:
        df.drop(columns=['latitude', 'longitude'], inplace=True)

    # Drop all rows containing null or zero values
    df = df.replace({0: np.nan}).dropna()

    # Append the cleaned dataframe to the joined dataframe
    if joined_df is None:
        joined_df = df
    else:
        joined_df = joined_df.merge(df, on='fips', how='outer')

# Print the joined dataframe
joined_df = joined_df.dropna()

# CREATE A TABLE FROM THE JOINED DATAFRAME
table_name = 'us_no_nulls_no_zeroes_df'
if inspect(engine).has_table(table_name):
    print(f"Table {table_name} already exists, skipping table creation")
else:
    # Determine the data type of each column
    dtype_dict = {}
    for col in joined_df.columns:
        if joined_df[col].dtype == "int64":
            dtype_dict[col] = "INTEGER"
        elif joined_df[col].dtype == "float64":
            dtype_dict[col] = "FLOAT"
        else:
            dtype_dict[col] = "TEXT"

    # Create SQL query to create the database table
    query = f"CREATE TABLE {table_name} ("
    for col in joined_df.columns:
        query += f"{col} {dtype_dict[col]}, "
    query = query[:-2] + ");"

    # Execute SQL query to create the database table
    with engine.connect() as conn:
        conn.execute(query)

# INSERT DATA INTO DATABASE TABLE
try:
    joined_df.to_sql(table_name, engine, if_exists="append", index=False)
except IntegrityError as e:
    print(f"Error inserting data into table {table_name}: {e}")

{'us_no_nulls_no_zeroes_df':         fips                  county_x  cardio_death  total_cancer  bladder  \
 0     6001.0       Alameda, California         169.6         383.9     14.9
 1     6001.0       Alameda, California         169.6         383.9     14.9
 2     6001.0       Alameda, California         169.6         383.9     14.9
 3     6001.0       Alameda, California         169.6         383.9     14.9
 4     6001.0       Alameda, California         169.6         383.9     14.9
 ..       ...                       ...           ...           ...      ...
 912  44007.0  Providence, Rhode Island         208.0         460.8     22.8
 913  44007.0  Providence, Rhode Island         208.0         460.8     22.8
 914  44007.0  Providence, Rhode Island         208.0         460.8     22.8
 915  44007.0  Providence, Rhode Island         208.0         460.8     22.8
 916  44007.0  Providence, Rhode Island         208.0         460.8     22.8

      brain  breast  breast_insitu  cervix  colon  ...  percent_edu_less_col  \
 0      5.1   122.6           30.3     5.5   29.2  ...                  51.3
 1      5.1   122.6           30.3     5.5   29.2  ...                  51.3
 2      5.1   122.6           30.3     5.5   29.2  ...                  51.3
 3      5.1   122.6           30.3     5.5   29.2  ...                  51.3
 4      5.1   122.6           30.3     5.5   29.2  ...                  51.3
 ..     ...     ...            ...     ...    ...  ...                   ...
 912    6.8   135.2           37.0     6.9   29.8  ...                  69.7
 913    6.8   135.2           37.0     6.9   29.8  ...                  69.7
 914    6.8   135.2           37.0     6.9   29.8  ...                  69.7
 915    6.8   135.2           37.0     6.9   29.8  ...                  69.7
 916    6.8   135.2           37.0     6.9   29.8  ...                  69.7

      percent_edu_less_hs  percent_food_stamp  percent_high_bp  \
 0                   11.2                 5.7             25.7
 1                   11.2                 5.7             25.7
 2                   11.2                 5.7             25.7
 3                   11.2                 5.7             25.7
 4                   11.2                 5.7             25.7
 ..                   ...                 ...              ...
 912                 13.7                18.4             31.0
 913                 13.7                18.4             31.0
 914                 13.7                18.4             31.0
 915                 13.7                18.4             31.0
 916                 13.7                18.4             31.0

      percent_high_chol  percent_obisity  percent_phys_inactivity  \
 0                 28.8             23.8                     15.6
 1                 28.8             23.8                     15.6
 2                 28.8             23.8                     15.6
 3                 28.8             23.8                     15.6
 4                 28.8             23.8                     15.6
 ..                 ...              ...                      ...
 912               29.8             31.3                     24.6
 913               29.8             31.3                     24.6
 914               29.8             31.3                     24.6
 915               29.8             31.3                     24.6
 916               29.8             31.3                     24.6

      percent_poverty  percent_somker_status  unemployment_rate
 0                8.6                   10.0                6.1
 1                8.6                   10.0                6.1
 2                8.6                   10.0                6.1
 3                8.6                   10.0                6.1
 4                8.6                   10.0                6.1
 ..               ...                    ...                ...
 912             12.4                   15.2                6.0
 913             12.4                   15.2                6.0
 914             12.4                   15.2                6.0
 915             12.4                   15.2                6.0
 916             12.4                   15.2                6.0

 [917 rows x 81 columns],
 'sample_global_data':    unnamed_0 country_code          co         o3        pm10       pm25  \
 0          4           AT  231.136389  85.307888   15.820251   8.945114
 1          5           AU  279.906930   0.013374  551.733617   5.264174
 2          6           BA  676.454545  25.561765   62.520000  18.623077
 3          8           BE  209.925164  49.806264   19.664099  11.458534
 4          9           BG  442.816797  50.437593   19.693200   8.370665
 ..       ...          ...         ...        ...         ...        ...
 69        72           PT  219.022576  75.907311   18.284255   6.011617
 70        74           RS  298.977570  79.527378   20.473075  12.074814
 71        79           SE  352.366793  68.482907   16.042180   5.027306
 72        84           TH    0.652720   0.023428   37.043073  18.503240
 73        94           ZA    0.747326   0.020324   40.275325  22.661500

           so2                 country  gdp_per_capita  che_per_capita_usd  \
 0    2.128832                 Austria         54297.0              4972.0
 1    0.001369               Australia         48484.0              5602.0
 2   32.565714  Bosnia and Herzegovina         13772.0              3863.0
 3    1.776664                 Belgium         50560.0              4770.0
 4   12.093272                Bulgaria         21534.0              6192.0
 ..        ...                     ...             ...                 ...
 69   5.059590                Portugal         32999.0              2020.0
 70   8.655348                  Serbia         16826.0              4349.0
 71   1.348571                  Sweden         51882.0              5755.0
 72   0.002354                Thailand         17408.0              2091.0
 73   0.006674            South Africa         13871.0              5238.0

     both_sex_life_exp  fem_life_exp  male_life_exp  poverty_rate  cig_percent
 0              81.315        83.535         79.020          13.3         29.1
 1              82.660        84.505         80.830          12.4         16.2
 2              76.535        78.870         74.160          16.9         38.3
 3              81.065        83.185         78.885          14.8         25.0
 4              74.810        78.320         71.410          23.8         38.9
 ..                ...           ...            ...           ...          ...
 69             81.230        84.035         78.240          17.2         27.9
 70             75.540        78.020         73.075          23.2         40.6
 71             82.075        83.735         80.400          17.1          8.0
 72             77.555        80.870         74.245           9.9         22.8
 73             63.910        66.815         61.010          55.5         31.4

 [74 rows x 15 columns],
 'cleaned_fossil_fuel_plants':                             plant_name   fips    plant_county   plant_state  \
 0                           Sand Point   2013  Aleutians East        Alaska
 1                                Barry   1097          Mobile       Alabama
 2                              Gadsden   1055          Etowah       Alabama
 3                               Gorgas   1127          Walker       Alabama
 4                       Copper Station  48141         El Paso         Texas
 ...                                ...    ...             ...           ...
 6949    POET Biorefining - Marion, LLC  39101          Marion          Ohio
 6950        POET Biorefining Caro, LLC  26157         Tuscola      Michigan
 6951  POET Biorefining-Hanlontown, LLC  19195           Worth          Iowa
 6952         POET Biorefining - Hudson  46083         Lincoln  South Dakota
 6953          Hartwell Energy Facility  13147            Hart       Georgia

        latitude   longitude fuel_type  nameplate_capacity_mw  \
 0     55.339722 -160.497222       Oil                    4.0
 1     31.006900  -88.010300       Gas                 2841.5
 2     34.012800  -85.970800       Gas                  138.0
 3     33.644344  -87.196486      Coal                 1416.7
 4     31.756900 -106.375000       Gas                   86.9
 ...         ...         ...       ...                    ...
 6949  40.622000  -83.157000       Gas                    7.8
 6950  43.472885  -83.411763       Gas                    3.8
 6951  43.292360  -93.392798       Gas                    4.0
 6952  43.096898  -96.476983       Gas                    3.6
 6953  34.339588  -82.819871       Gas                  360.0

       net_generation_mwh  nox_tons  so2_tons     co2_tons      ch4_lbs  \
 0                3780.00    46.290     4.195     2362.834      191.366
 1            12470807.00  2361.074  3494.672  8290059.787  1136505.719
 2              169977.00   136.388     2.957   131425.540     3801.827
 3              490760.00   490.525   142.687   598479.725   117468.333
 4               39534.00    85.830     0.200    41036.777     1517.994
 ...                  ...       ...       ...          ...          ...
 6949            30509.00    15.580     0.305    11141.089      420.260
 6950            17681.16    10.045     0.196     7183.124      270.959
 6951            16792.00     8.462     0.165     6051.180      228.260
 6952            12421.00     6.219     0.122     4447.372      167.762
 6953           357120.00   160.575     1.459   288768.906    10768.239

          n2o_lbs  pm2_5_tons
 0         38.273    4.476344
 1     159420.742  643.155672
 2        380.183    6.707270
 3      17090.854   89.247027
 4        151.799    2.317093
 ...          ...         ...
 6949      42.026    0.767503
 6950      27.096    0.000000
 6951      22.826    0.000000
 6952      16.776    0.000000
 6953    1076.824   18.986831

 [6954 rows x 15 columns],
 'closest_plant_in_each_county':        latitude   longitude   fips             county state_abbrev  \
 0     32.534920  -86.642749   1001     Autauga County           AL
 1     30.660970  -87.749840   1003     Baldwin County           AL
 2     31.869603  -85.393197   1005     Barbour County           AL
 3     32.998644  -87.126439   1007        Bibb County           AL
 4     33.980867  -86.567371   1009      Blount County           AL
 ...         ...         ...    ...                ...          ...
 6279  41.659496 -108.879431  56037  Sweetwater County           WY
 6280  43.934637 -110.589810  56039       Teton County           WY
 6281  41.287492 -110.547562  56041       Uinta County           WY
 6282  43.904997 -107.682861  56043    Washakie County           WY
 6283  43.840485 -104.567830  56045      Weston County           WY

                               closest_plant  distance  plant_capacity
 0            Joseph M. Farley Nuclear Plant     128.0          1776.4
 1            Joseph M. Farley Nuclear Plant     161.0          1776.4
 2            Joseph M. Farley Nuclear Plant      48.0          1776.4
 3                Browns Ferry Nuclear Plant     118.0          3567.5
 4                Browns Ferry Nuclear Plant      59.0          3567.5
 ...                                     ...       ...             ...
 6279  Palo Verde Nuclear Generating Station     612.0          4209.6
 6280            Columbia Generating Station     460.0          1200.0
 6281  Palo Verde Nuclear Generating Station     560.0          4209.6
 6282            Columbia Generating Station     594.0          1200.0
 6283                 Cooper Nuclear Station     516.0           801.0

 [6284 rows x 8 columns],
 'features':        fips  air_quality_annual_pm2p5  median_household_income  \
 0      2013                       NaN                  79000.0
 1      2016                       NaN                  92000.0
 2      2020                       6.4                  85000.0
 3      2050                       NaN                  52000.0
 4      2060                       NaN                  87000.0
 ...     ...                       ...                      ...
 6441  72151                       NaN                      NaN
 6442  72153                       NaN                      NaN
 6443  78010                       NaN                      NaN
 6444  78020                       NaN                      NaN
 6445  78030                       NaN                      NaN

       percent_diagnosed_diabetes  percent_edu_less_col  percent_edu_less_hs  \
 0                            9.9                  83.4                 13.4
 1                            9.3                  83.0                  8.2
 2                            8.3                  63.4                  6.0
 3                            8.8                  88.7                 16.5
 4                            9.2                  74.2                  6.2
 ...                          ...                   ...                  ...
 6441                         NaN                  82.4                 28.1
 6442                         NaN                  75.6                 24.2
 6443                         NaN                   NaN                  NaN
 6444                         NaN                   NaN                  NaN
 6445                         NaN                   NaN                  NaN

       percent_food_stamp  percent_high_bp  percent_high_chol  percent_obisity  \
 0                    2.6             34.1               31.2             27.2
 1                    1.4             30.3               30.3             25.4
 2                    9.7             28.8               29.4             29.8
 3                   37.7             36.2               28.7             23.8
 4                    6.5             33.6               32.3             24.6
 ...                  ...              ...                ...              ...
 6441                 NaN              NaN                NaN              NaN
 6442                 NaN              NaN                NaN              NaN
 6443                 NaN              NaN                NaN              NaN
 6444                 NaN              NaN                NaN              NaN
 6445                 NaN              NaN                NaN              NaN

       percent_phys_inactivity  percent_poverty  percent_somker_status  \
 0                        21.5             15.1                   18.5
 1                        20.0              8.1                   16.7
 2                        17.9              8.3                   15.7
 3                        22.0             25.3                   34.0
 4                        20.9             10.7                   17.8
 ...                       ...              ...                    ...
 6441                      NaN              NaN                    NaN
 6442                      NaN              NaN                    NaN
 6443                      NaN              NaN                    NaN
 6444                      NaN              NaN                    NaN
 6445                      NaN              NaN                    NaN

       unemployment_rate
 0                   2.3
 1                   3.6
 2                   5.8
 3                  13.1
 4                   5.6
 ...                 ...
 6441               10.3
 6442               11.7
 6443                NaN
 6444                NaN
 6445                NaN

 [6446 rows x 14 columns],
 'global_health_data':     unnamed_0 country_code      country           co        no        no2  \
 0           0           AF  Afghanistan  1350.724521  0.683179  12.363946
 1           1           AL      Albania   257.109347  0.362959   6.039690
 2           2           DZ      Algeria   241.442119  3.336000  13.501865
 3           3           AO       Angola   471.672875  0.718363   5.120278
 4           4           AR    Argentina   423.765962  8.538443  11.451818
 ..        ...          ...          ...          ...       ...        ...
 313       154           UZ   Uzbekistan   273.726837  4.314358  12.812164
 314       155           VU      Vanuatu   199.313946  0.010838   0.226337
 315       156           VN      Vietnam   869.873588  6.159495  18.272751
 316       157           ZM       Zambia   526.302397  0.261384   1.657479
 317       158           ZW     Zimbabwe   317.144957  0.565041   2.198224

             o3        so2      pm2_5       pm10 gdp_per_capita   mean_bmi  \
 0    79.251521   0.759946  17.227616  42.560698           2057  21.255135
 1    71.634025   1.989154  10.260962  14.133179          12783  25.164619
 2    69.168845   2.798434  12.425665  37.320633          11683  23.912552
 3    29.608070   3.372409  18.544950  29.713428           7304  21.195410
 4    29.216860   5.575630   7.109720   9.720282          23107  25.974045
 ..         ...        ...        ...        ...            ...        ...
 313  60.219622   1.456380   8.780014  19.103754           6867  24.569494
 314  21.590267   0.407213   2.023984   4.395204           3040  24.908416
 315  40.186948  15.109423  43.126799  52.487995           7198  19.753949
 316  18.503096   5.618650   7.969808  11.588515           3478  21.281939
 317  23.643942   2.433017  23.106326  25.703272           3747  23.079916

     che_per_capita_usd  both_sex_life_exp  fem_life_exp  male_life_exp  \
 0                 6680             62.430        62.755         62.165
 1                 1867             77.920        79.800         76.175
 2                 2646             76.835        77.810         75.940
 3                 3878             62.390        65.010         59.915
 4                 2981             76.375        79.400         73.215
 ..                 ...                ...           ...            ...
 313               6001             72.230        74.565         69.870
 314               3745             64.975        68.000         62.340
 315               1190             73.450        77.860         69.220
 316               5094             61.475        64.195         58.735
 317               3593             59.580        62.285         56.620

      poverty_rate
 0            54.5
 1            14.3
 2             5.5
 3            32.3
 4            35.5
 ..            ...
 313          14.1
 314          12.7
 315           6.7
 316          54.4
 317          38.3

 [318 rows x 17 columns],
 'us_df':        fips                county_x  cardio_death  total_cancer  bladder  \
 0         0                      US         216.3         449.4     19.4
 1      2013  Aleutians East, Alaska          95.1         142.2      0.0
 2      2013  Aleutians East, Alaska          95.1         142.2      0.0
 3      2016  Aleutians West, Alaska          89.8         378.4      0.0
 4      2016  Aleutians West, Alaska          89.8         378.4      0.0
 ...     ...                     ...           ...           ...      ...
 5307   2105                    None           NaN           NaN      NaN
 5308   2105                    None           NaN           NaN      NaN
 5309  51019                    None           NaN           NaN      NaN
 5310  51019                    None           NaN           NaN      NaN
 5311  72111                    None           NaN           NaN      NaN

       brain  breast  breast_insitu  cervix  colon  ...  percent_edu_less_col  \
 0       6.4   128.1           29.4     7.7   33.0  ...                   NaN
 1       0.0     0.0            0.0     0.0    0.0  ...                  83.4
 2       0.0     0.0            0.0     0.0    0.0  ...                  83.4
 3       0.0     0.0            0.0     0.0    0.0  ...                  83.0
 4       0.0     0.0            0.0     0.0    0.0  ...                  83.0
 ...     ...     ...            ...     ...    ...  ...                   ...